# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl
override.tf
override.tf.json

# Credentials — JANGAN PERNAH COMMIT
*.json
keys/
credentials/
*creds*
*secret*
service_account*

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/
dist/
build/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/.user.yml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
# OSM source data — large files, sourced from Geofabrik on-demand
*.pbf
*.osm.bz2

# Data output files — stored in GCS, not git
*.parquet
logs/

spark/error_reproduce.py
